<h1 class="mt-5">{{ project.name | uppercase }}</h1>
<small>Subido en {{ project.createdAt | date: "y" }} </small>

<div class="row mt-5">
  <div class="col-md-4">
    <img [src]="project.image" [alt]="project.name" class="img-fluid" />
    <br />
    <a routerLink="/projects" class="btn btn-outline-danger btn-block mt-5"
      >Volver</a
    >
  </div>
  <div class="col-8">
    <h3>{{ project.name }}</h3>
    <hr />
    <p>
      {{ project.description }}
    </p>
    <p *ngFor="let tag of project.tags">{{ tag }}</p>
  </div>
</div>
